# Build Folders
bin/
obj/
dist/

# Visual Studio files
.vs/
*.user
*.suo

# Local logs
*.log

# Compiled executables (too large for GitHub)
*.exe
*.dll
*.pdb

# Release output folders
Release_v*/

# dotnet local SDK install
dotnet-sdk-local/
C:/dotnet-sdk-local/